/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}
/* Nav Bar Section */
#nav-bar-flexbox{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-top: 3%
}
.skyline{
    width: 85%;
    margin: 3% auto;
    display: block;
}
.about-text{
    padding-bottom: 2%;
    margin-bottom: 1%;
    border-bottom: 2px dotted black;
}

/* Learn More Section */
#learn-more-section{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#learn-more-box{
    width: 45%;
    height: 30%;
    padding:2%;
    border-bottom: 2px dotted black;
}
.box-title{
    font-size: 12pt;
}
.box-text{
    font-size: 10pt;
    margin-bottom:4%;
}
.learn-more{
    font-size: 9pt;
    text-align: center;
    width: 25%;
    height: 30%;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
   padding: 2%;
}
/* Work Together Section */
#work-box{
    display:flex;
    flex-flow:column nowrap;
    padding-top:4%;
    padding-bottom: 3%;
}
.work-text{
    font-size:12pt;
}
.work-text-p{
    font-size:10pt;
}
/* Footer Section */
footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}